body{
	margin:0;
	padding: 0;
}
.google-translator{
  position: absolute;
  top: 0;
    left:0;
  z-index: 1000;
}
.hero{
background-blend-mode: normal, multiply, soft-light, multiply;
background-image: url("./static/images/mainpage.jpg");
background-repeat: no-repeat;
background-size: cover;
display: block;
min-height: 894px;
margin: 0 auto;
background-position: right;
}
.head-text .content-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero .header{
	padding: 50px 20px;
}
.hero .head-text{
    display: flex;
    align-items: center; 
    height: 290px;
}
 .nav li a{
  color: #817878;
  text-decoration: none!important;
  position: relative;
  cursor: pointer
}
.nav li a:hover{
  color: #f25cb2!important;
  border-bottom: 2px solid #f25cb2;
}
.content-container strong{
	color: #ec008c;
	 font-size: 38px;
	 font-weight: bold;
}
.content-container h3{
  color: #5a5555;
  font-size: 30px;
}
.content-container h2	{
  color: #323232;
   font-size: 38px;
   font-weight: bold;
}
.content-container .pink-button	{
  color: #fff;
   font-size: 14px;
   background-color: #ec008c;
   border-radius: 0px!important;
   padding: 8px 40px;
   text-align: center;
   margin-top: 30px;
   
}
.hero1 .logo img{
  width: 100px;
    margin-left: -10%;
}
.hero-2 .logo img{
  width: 70px;
    margin-left: -10%;
}
.hero .logo img{
  width: 50px;
    margin-left: 50%;
}
.user-drop a{
  font-size: 12px;
}
.language-drop button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.language-drop button:focus{
  outline: none;
}
.video-react.video-react-fluid{
  padding-top: 0!important;
}
.language-drop .selector{
  list-style: none;
  padding-left: 0;
}
.language-drop{
  background-color: #f7f7f7;
  padding: 10px 10px;
  border: 1px solid #ec008c;
  border-radius: 3px;
  position: absolute;
  top: 45px;
  z-index: 3;

}
/* header section end */

/* icon section start */
.icon-section{
	width: 100%;
	height: 100px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	
}
.icon-section .beauty-box{
	padding:25px 10px;
	width: 100%;
	height: 100px;
}
.icon-section .box-border{
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.icon-section h5{
  color: #c7c7c7;
  font-size: 16px;
}
.icon-section p{
 color: #c7c7c7;
 font-size: 12px;
}
/* icon section End */
/* Beauty ful section start */
.beauty-full{
	width: 100%;
	padding: 50px 10px;
}

.beauty-full .box-text p{
  text-align: center;
  color: #999999;
}
.beauty-full .box-text h5{
  text-align: center;
  color: #323232;
  padding: 0px;
  margin-bottom: 0px;

}
.beauty-full .gift-image{
  width: 100%;
  height: 440px;
  background-color: #e9e9e9;
  margin-top: 80px;
}
.beauty-full .gift-image img{
  padding: 75px 55px;
}
.beauty-full .month-text h5{
  color: #323232;
  font-size:18px;
  padding-bottom: 20px;

}
.beauty-full .month-text{
	margin-top: 80px;
	padding: 0px 20px;
}
.beauty-full .month-text p{
 color: #a6a6a6;
 font-size:14px;
}
.beauty-full .month-text .buttn{
	margin-top: 50px;
}
.beauty-full .month-text .btn{
 color: #f25cb2;
 font-size:14px;
 border: 1px solid #f25cb2;
 border-radius: 0px!important;
 padding: 10px 40px;
 background-color: #fff;
 margin-right: 20px;
}

/* Beauty ful section End */
/* Subscribe section Start */
.Subscribe-section{
    background-image: url("./static/images/Image-2.png");
    background-blend-mode: normal, multiply, soft-light, multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 600px;
    margin: 0 auto;
    }
    .Subscribe-section .subscribe{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 600px;
    }
    .Subscribe-section .subscribe h1{
        
     font-size: 40px;
     color: #323232;
     text-align: right;
     text-transform: uppercase;
    }
    .Subscribe-section .subscribe h1 span{
        color: #323232;
        font-weight: bold;
    }
    .Subscribe-section .subscribe p{
    font-size: 18px;
    color: #919496;
    text-align: right;
    width: 660px;
    float: right;
    }
     .btn{
        color: #f25cb2;
     font-size:14px;
     border: 1px solid #f25cb2!important;
     border-radius: 0px!important;
     padding: 8px 40px!important;
     background-color: transparent;
     margin-top: 20px;
    
    }
    .btn:hover{
        background-color: #ec008c!important;
      color: #fff!important;
    }
    /* Subscribe section End */
/* card section start */
.card-section{
    width: 100%;
      padding: 80px 10px;
  }
  .card-section .box-text p{
    text-align: center;
    color: #999999;
  }
  .card-section .box-text .text{
      width: 800px;
      text-align: center;
      margin:20px auto;
  }
  .card-section .box-text h5{
    text-align: center;
    color: #323232;
    padding: 0px;
    margin-bottom: 0px;
  
  }
  .card-section .gift-image{
    width: 100%;
    height: 440px;
    background-color: #e9e9e9;
    margin-top: 80px;
  }
  .card-section .gift-image img{
    padding: 75px 55px;
  }
  .card-section .card .card-body h5{
   color: #323232;
   font-size: 18px;
   text-transform: uppercase;
   margin-top: 20px;
  }
  .card-section .card{
      margin-top: 80px;
  }
  .card-section .card .card-container{
   margin-top: 30px;
  }
  .card-section .card .card-body span{
   color: #ec008c;
   font-size: 18px;
  }
  .card-section .card .card-body span:after{
      content: '';
      display: block;
      width: 15%;
      height: 1px;
      background-color: #dcdcdc;
      margin-top: 10px;
  }
  .card-section .card .card-body p{
   font-size: 14px;
   color: #bfbfbf;
   padding-top: 20px;
   padding-right: 20px;
  }
  
  .card-section .card .card-body .pink-btn2{
      background-color: #ec008c!important;
      color: #fff!important;
      border:0px;
      padding: 5px 20px;
      font-size: 12px;
  
  }
  /* card section End */
.chat-div{
    background: #ec008c;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.chat-div:hover{
    background: white;
    box-shadow: 0px 0px 25px 0px rgba(26,26,56,0.64);
}
.chat-div:hover i{
    color: #ec008c;
}
.chat-div i{
    font-size: 40px;
    color: white;
}
/* services section start */
.video-react .video-react-big-play-button{
    top: 50%!important;
    left: 46%!important;
}
.services-section{
    width: 100%;
    background-color: #f3f3f3;
    /* height: 545px; */
    padding: 80px 0;
}
.services-section .box-text p{
  text-align: center;
  color: #999999;
}
.services-section .box-text .text{
	width: 800px;
	text-align: center;
	margin:20px auto;
}
.services-section .box-text h5{
  text-align: center;
  color: #323232;
  padding: 0px;
  margin-bottom: 0px;

}
.services-section .box-text h5 span{
  color: #707070;
}
.services-section .gift-image{
  width: 100%;
  height: 440px;
  background-color: #e9e9e9;
  margin-top: 80px;
}
.services-section .gift-image img{
  padding: 75px 55px;
}
.services-section .services{
	margin-top:50px;
}
.services-section .services .icon-section2{
  width: 135px;
  height: 135px;
  border-radius: 100px;
   border: 2px solid #ec008c;
   margin: 0 auto;
}
.services-section .services .icon-section2 img{
	margin: 45px;
}
.services-section .services h3{
	color: #323232;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
.services-section .services p{
	color: #6c6c6c;
	font-size: 14px;
	text-align: center;
}
/* services section End */
/* popular section Start */
.image-section{
	width: 100%;
	padding-top: 80px;
      margin-bottom: 114px;
}
.image-section .box-text p{
  text-align: center;
  color: #999999;
}
.image-section .box-text .text{
	width: 800px;
	text-align: center;
	margin:20px auto;
}
.image-section .box-text h5{
  text-align: center;
  color: #323232;
  padding: 0px;
  margin-bottom: 0px;

}
.image-section .box-text h5 span{
  color: #707070;
}
.image-section .gift-image{
  width: 100%;
  height: 440px;
  background-color: #e9e9e9;
  margin-top: 80px;
}
.image-section .gift-image img{
  padding: 75px 55px;
}
.image-section .gift-img{
	width: 272px;
	height: 272px;
	background-color: #ecebec;
	 position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.image-section .image {
  display: block;
  width: 100%;
  height: auto;
}

.image-section .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(237,119,189,0.7);
   box-shadow: -0.5px 1px 4px 1.5px rgba(0, 0, 0, 0.1);
   padding-bottom: 15px;
}

.image-section .gift-img:hover .overlay {
  opacity: 1;
}
.image-section .footer{
	 position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  background-color: #fff;
  width: 100%;
   box-shadow: -0.5px 1px 4px 1.5px rgba(0, 0, 0, 0.1);
}
.image-section .footer h3{
	font-size: 24px!important;
}

.white-btn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border:1px solid #fff!important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
/* popular section End */
/* refer section Start */
.banner-section{
    background-image: url("./static/images/Bar.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
    margin-top: 50px;
    }
    .banner-section .avail{
        margin-top: 15%;
    }
    .banner-section .avail h2{
    color: #fff;
    font-size: 18px;
    }
    .banner-section .avail p{
    color: #fff;
    font-size: 14px;
    }
    .banner-section .input{
        margin: 15% 15%;
    }
    .banner-section .input input{
        color: #fff;
        padding: 10px 150px 10px 20px;
        background-color: transparent;
        border-color: #fff;
        font-size: 12px;
        opacity: 1;
    
    }
    .banner-section .input input::placeholder{
        color: #fff;
        background-color: transparent;
        margin-right: 20%;
    }
    /* refer section End */
/*form section start*/
.form-section{
	width: 100%;
	padding-top: 80px;
	background-color: #faf9f7;
}
.form-section .box-text p{
  text-align: center;
  color: #999999;
}
.form-section .box-text .text{
	width: 800px;
	text-align: center;
	margin:20px auto;
}
.form-section .box-text h5{
  text-align: center;
  color: #323232;
  padding: 0px;
  margin-bottom: 10px;
}
.form-section .box-text h5 span{
  color: #707070;
}
.form-section .gift-image{
  width: 100%;
  height: 440px;
  background-color: #e9e9e9;
  margin-top: 80px;
}
.form-section .gift-image img{
  padding: 75px 55px;
}
.form-section .form {
  margin: 50px auto;
}
.form-section .form input{
	padding: 8px 80px 8px 20px;
	margin-right: 20px;
}
.form-section .form .submit{
display: flex;
justify-content: center;
margin-top: 20px;
}
/*form section end*/
/*footer section start*/

.footer-section{
	width: 100%;
	height: auto;
	padding-top: 50px;
	
}
.footer-section .social-icons{
	width: 100%;
	margin: 0 auto;
}
.footer-section .social-icons .footer-logo{
	display: flex;
	justify-content: center;
}
.footer{
	border-top: 1px solid #dcdcdc;
	padding: 20px;
	display: flex;
	justify-content: center;
}
.footer p{
	font-size: 16px;
	color: #b8b3b3;
}
/*footer section End*/
.hero1{
    background-color: #1a1a38;
  height: 90px;
}
.hero1 .logo{
  padding: 15px;
}
.hero1 .nav {
    margin-top: 20px;
}
.hero1 .nav li a {
    color: #ceced1;
}
.hero1 .nav li a .fa {
    font-size: 24px;
}
.hero1 .nav li a .fa-chevron-down {
    font-size: 18px!important;
}
/*sign in page css*/
.login-sign-div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-color{
    margin: 0;
}
.sign-color a{
    color: #f25cb2;
    text-decoration: none;
}
.image-contaner{
    background-blend-mode: normal, multiply, soft-light, multiply;
  background-image: url("./static/images/signinback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 1158px;
  /* margin: 50px auto; */
  background-position: center;
  }
.sign-header{
    background-color: #1a1a38;
    height: 90px;
  }
  .card{
    width: 100%;
    margin: 12%;
  }
  .card-width{
      width: 350px;
  }
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
    color: #5a5a5a;
    font-size: 24px;
    text-align: center;
  }
  .form-signin label{
    color: #bababa;
  }
  .form-signin .checkbox {
    font-weight: normal;
    color: #898989;
    font-size: 16px;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .btn{
    color: #f25cb2!important;
   font-size:14px!important;
   border: 1px solid #f25cb2!important;
   border-radius: 0px!important;
   padding: 8px 40px!important;
   background-color: transparent!important;
   margin-top: 20px;
  }
  /*payment section start*/
  .checkbox input{
    margin: 20px 10px;
  }
  #payment-sec .payment-section{
  width: 100%!important;
  height: 100%!important;
}
#payment-sec .form h3{
	font-size: 24px;
}
#payment-sec .btn{
	color: #f25cb2;
    font-size:14px;
    border: 1px solid #f25cb2!important;
    border-radius: 0px!important;
    padding: 10px 20px!important;
    background-color: transparent;
    margin: 20px 10px;
}
#payment-sec .btn img{
	width: 17px;
}
#payment-sec .btn:hover{
    background-color: #ec008c!important;
  color: #fff!important;
}
#payment-sec .payment-card{
	width: 100%!important;
	margin-top: 10%!important;
}
#payment-sec .name{
	width: 100%;
	padding: 6px 20px;
}
#payment-sec .adress{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
#payment-sec label{
	padding-top: 10px;
}
#payment-sec input{
	color: #494949!important;
}
#payment-sec .adress input{
	width: 100%;
	padding: 6px 75px;
}
#payment-sec .form-control{
	width: 320px!important;
	height: 41px!important;
}
#payment-sec .list{
	display: flex;
	justify-content: space-between;
}
#payment-sec .option{
 width: 100%!important;
 margin-right: 10px!important;
}
#payment-sec .ccv{
	padding: 6px 10px;
}
#payment-sec .order-summary{
	padding: 20px;
	margin-top: 20%!important;
}
#payment-sec .card-order .table td{
	font-size: 10px;
	font-weight: bold;
}

/*payment section end*/
.hero-2{
    /* background-blend-mode: normal, multiply, soft-light, multiply; */
    background-image: url("./static/images/herotwo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 495px; */
    min-height: 645px;
    margin: 0 auto;
}
.hero-2 .header{
    padding: 20px 20px;
}
.hero-2 .head-text{
    display: flex;
    align-items: center; 
    height: 325px;
}
.hero-2 .nav li a {
    color: #ffffff;
}
.center-align{
    display: flex;
    justify-content: center;
}
.center-align h1{
    color: #ffffff;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1a1a38;
    opacity: 0.9;
    /* height: 495px; */
    height: 645px;
    box-shadow: 0px 10px 26px 1px rgba(26,26,56,0.64);
}
.image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 226px 80px rgba(26,26,56,0.08);
    padding: 0 30px;
}
.image-div img{
    width: 100%;
}
.outer-shadow{
    box-shadow: 0px 2px 40px 0px rgba(26,26,56,0.64);
    position: relative;
    z-index: 1;
}
.right-box{
    height: 350px;
    border: 1px solid #f3f3f3;
    background-color: #fcfcfc;
    padding: 30px 115px;
    margin-left: -80px;
    z-index: 0;
}
.row-extra{
    align-items: center;
    margin-top: 80px;
}
.inner-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.image-para{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.image-para p{
    margin: 0;
    padding-left: 20px;
}
.user-drop{
    background-color: #f7f7f7;
    padding: 10px 10px;
    border: 1px solid #ec008c;
    border-radius: 3px;
    position: absolute;
    top: 45px;
}
.user-drop1{
  background-color: #1a1a38;
  padding: 10px 10px;
  border: 1px solid #ec008c;
  border-radius: 3px;
  position: absolute;
  top: 63px;
}
.user-drop2{
  background-color: #1a1a38;
  padding: 10px 10px;
  border: 1px solid #ec008c;
  border-radius: 3px;
  position: absolute;
  top: 45px;
}
.displaynone{
  display: none;
}
.display{
  display: block;
}
.error-div{
  background-color: #1a1a38;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.error-div a{
  text-decoration: none!important;
}
.error-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #262f3d;
  background-color: #f7f7f7f7;
  padding: 20px 40px;
  border-radius: 4px;
}
.right-sidebar-outer{
  position: fixed;
  top: 19%;
  right: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 3;
}
 .red-button{
  width: 30px;
  height: 30px;
  background-color: #ec008c;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 14%;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 4;
}
.transitioncart{
  transform: width .5s;
  transform-origin: 100% 50%;
  transition-duration: 0.3s ease-out;
}
.error-logo{
  margin-bottom: 20px;
}
.right-sidebar .order-summary {
  padding: 20px;
}
.right-sidebar .table td{
  font-size: 12px;
}
.right-sidebar .card-order .table td {
  font-size: 10px;
  font-weight: bold;
}
.right-sidebar .card{
  margin: 0 0;
}
.full-width{
  width: 100%;
}
.header-notif{
    background-color: #ec008c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 11px;
}
.positioning-1{
  top: 8px;
  right: 16px;
}
.positioning-2{
  top: 2px;
  right: 6px;
}
.guest-btn a{
    color: #f25cb2!important;
    text-decoration: none;
}
.guest-btn a:hover {
    background-color: #ec008c!important;
    color: #fff!important;
}
.fuck{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#breaty.loader {
    border: 16px solid #f25cb236!important;
    border-radius: 50%;
    border-top: 16px solid #f25cb2!important;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.mobile-header{
  display: none;
}
.desktop-version{
  display: flex;
}
.nav-right{
  display: none;
}
/*terms page css*/
.privacy-content-lo {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.privacy-content {
    margin-top: 30px;
    margin: 0 auto;
}
.bb {
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 5px;
    clear: both;
    text-align: center;
    border-top: 1px solid #000;
    padding-top: 45px;
    margin: 0px !important;
    text-transform: uppercase;
    font-size: 35px !important;
    margin-bottom: 30px !important;
    clear: both;
}
.privacy-content h2 {
    margin: -50px 0 30px 80px;
    font-size: 1.5em;
    /* float: left; */
    /* width: 92%; */
    border: 0px;
    margin-top: 30px;
    font-family: 'AvenirNextRegular', sans-serif;
}
.privacy-content p {
    margin: 0 0 15px 15px;
    color: #5E524B;
    line-height: 28px;
    font-size: 18px;
    font-family: 'AvenirNextRegular', sans-serif !important;
    margin-bottom: 30px;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* responsive */
@media (max-width: 479px) and (min-width: 320px){
  .hero .header {
    padding: 10px 0px;
}
.mob-nave{
  list-style: none;
  position: absolute;
  z-index: 1;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ec008c;
  display: none;
  right: 12px;
}
.mob-nave li a {
  color: #817878;
  text-decoration: none!important;
  position: relative;
  cursor: pointer;
}
.mobile-header{
  display: block;
}
.mob-ham{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mob-ham .first-div{
  border: 2px solid white;
  border-radius: 4px;
  width: 25px;
}
.mob-ham .second-div{
  border: 2px solid white;
  border-radius: 4px;
  width: 30px;
}
.mob-ham .third-div{
  border: 2px solid white;
  border-radius: 4px;
  width: 25px;
}
.mob-ham>div{
  margin-bottom: 4px;
}
.hero1 .nav {
  margin-top: 0;
}
.mob-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
    padding:0;
}
.nav-right{
  display: flex;
  align-items: center
}
.desktop-version{
  display: none;
}
.nav-right{
  display: flex;
}
.user-drop {
  top: 107px;
  left: -79px;
}
.hero .image-container img{
  width: 100%;
}
.content-container h3{
  font-size: 20px;
}
.content-container strong {
  font-size: 26px;
}
.content-container h2 {
  font-size: 26px;
}
.hero {
  min-height: 515px;
}
.hero .head-text {
  height: 450px;
}
.icon-section {
  height: auto;
}
.icon-section .box-border {
  border-left: unset;
  border-right: unset;
}
.icon-section h5 {
 margin-bottom: 0;
}
.icon-section .beauty-box {
  padding: 15px 10px;
  height: auto;
}
.beauty-full .gift-image {
  width: 100%;
  height: 240px;
  background-color: #e9e9e9;
  margin-top: 25px;
}
.beauty-full .gift-image img {
  padding: 40px 20px;
  width: 100%;
}
.beauty-full .month-text {
  margin-top: 35px;
}
.beauty-full .month-text .buttn {
  margin-top: 15px;
}
.Subscribe-section .subscribe h1 {
  font-size: 20px;
}
.Subscribe-section .subscribe p {
  font-size: 13px;
  width: unset;
}
.Subscribe-section .subscribe {
  height: 320px;
}
.Subscribe-section {
  min-height: 320px;
}
.card-section {
  padding: 50px 10px;
}
.card-section .box-text .text {
  width: unset;
}
.card-section .card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-section .card .card-container {
  margin-top: 0px;
}
.image-section .gift-img {
  width: auto;
  height: 272px;
  margin-top: 50px;
}
.services-section {
  height: auto;
  padding-top: 35px;
}
.services-section .services {
  margin-top: 10px;
}
.image-section {
  padding-top: 35px;
  margin-bottom: 50px;
}
.banner-section {
  height: auto;
}
.banner-section .input {
  margin: 5% 0%;
}
.banner-section .input input {
  width: 100%;
}
.form-section {
  padding-top: 35px;
 }
 .form-section .form {
  margin: 20px auto;
  padding: 12px;
  width: 100%;  
}
.form-section .form input {
  width: 100%;
  margin-right: 0;
  margin-bottom: 10px;
}
.form-section .form textarea{
  width: 100%;
}
.footer p {
  text-align: center;
}
.image-section .overlay{
  opacity: 1;
}
.btn {
  color: white!important;
  background-color: #f25cb2!important;
}
.right-sidebar .card {
  margin: 0 2px;
}
#payment-sec .form-control {
  width: 248px!important;
}
#payment-sec .list {
  flex-direction: column;
}
#payment-sec .ccv {
  width: 100%;
}
.center-align h1 {
  font-size: 28px;
}
.overlay {
  height: 447px;
}
.hero-2 {
  min-height: 430px;
}
.right-box {
  height: auto;
  padding: 25px 8px;
  margin-left: 0px;
}
.right-box .inner-box h1{
  font-size: 22px;
}
.right-box .inner-box p{
  font-size: 12px;
}
.form-signin {
  padding: 0px;
}
.card-width {
  width: 300px;
}
.card {
  margin: 60% auto;
}
    .guest-btn a{
        color: white!important;
    }
.image-contaner {
  background-blend-mode: normal, multiply, soft-light, multiply;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 1050px;
  margin: 30px auto;
  background-position: center;
}
.google-translator{
  left: 30%;
}
.hero1 .logo {
  padding: 0px;
}
}
@media (max-width: 574px) and (min-width: 480px){
}
@media (max-width: 684px) and (min-width: 575px){
}
@media (max-width: 767px) and (min-width: 685px){
}
@media (max-width: 991px) and (min-width: 768px){
  .nav-link {
    padding: .5rem 0.7rem !important;
}
.content-container h2 {
  font-size: 30px;
}
.card-section .box-text .text {
  width: 100%;
 }
 .form-section .form textarea{
  width: 100%;
}
.image-section .gift-img {
  width: auto;
  height: 180px;
}
.form-section .form input {
  margin-bottom: 12px;
}
.beauty-full .gift-image img {
  width: 100%;
}
.card-section .card .card-body p {
  padding-right: 0px;
}
.card-section .card .card-body .pink-btn2 {
  padding: 5px 10px;
}
.btn {
  padding: 8px 30px!important;
}
.image-section .overlay {
  opacity: 1  ;
}
.image-section .footer h3{
  font-size: 13px!important;
}
.head-text .image-container img{
  width: 100%;
}
.btn {
  color: white!important;
  background-color: #f25cb2!important;
}
.image-div {
  height: 180px;
}
.right-box {
  height: 250px;
  padding: 10px 75px;
}
.right-box .inner-box h1{
  font-size: 20px;
}
.right-box .inner-box p{
  font-size: 11px;
}
    .google-translator {
        left: 20%;
    }
    .guest-btn a{
        color: white!important;
    }
}
@media (max-width: 1023px) and (min-width: 992px){

}
@media (max-width: 1199px) and (min-width: 1024px){
  .beauty-full .gift-image img {
    width: 100%;
  }
  .image-section .overlay {
    opacity: 1  ;
  }
  .btn {
    color: white!important;
    background-color: #f25cb2!important;
  }
    .guest-btn a{
        color: white!important;
    }
  .image-section .gift-img {
    width: 100%;
    height: 215px;
}
.image-section .footer h3 {
  font-size: 16px!important;
}
.right-box .inner-box h1{
  font-size: 30px;
}
    .google-translator {
        left: 24%;
    }
}